* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* generiche */
.body{
  font-size: 14px;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* header */
/* searchbar */
.search{
  justify-content: space-between;
  background-color: black;
  height: 80px;
  padding: 20px 15px 1px 15px;
}
/* logo */
.logo{
  font-size: 25px;
  text-transform: uppercase;
  color: red;
}
/* container lista film/serie TV */
.results{

}
.movies_list,
.tv_series_list{
  flex-direction: row;
  width: 100vh;
  flex-wrap: wrap;
}
.container{
  height: calc(100vh - 80px);
  overflow-y: scroll;
  background-color: grey;
}
.flag{
  width: 20px;
}
